ul {
    list-style-type: none;
    margin: -10;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    box-shadow: 1px 5px 4px grey;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #54C2E7;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,.signupbtn {
    float: left;
    width: 50%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}

p.New {
    font-family: "Verdana";
    position: absolute;
   top: 300px;
   left: 0;
   width: 100%;
   margin-left: 70px;
}

img.bg{
  margin-top: 15px;
  margin-left: -10px;
  margin-right: -10px;

  opacity: 0.3;
  position: relative;
  width: 101%;
}

.image {
   position: relative;
   width: 100%; /* for IE 6 */
}

img.New {
    font-family: "Verdana";
    position: absolute;
   top: 10px;
   left: 0;

    margin: 0 auto;
}
